
@{
    ViewBag.Title = "Links";
}

@model IEnumerable<Services.GomelSat.Models.SiteLinkViewModel>

<div class="gomel-sat-list-links panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Links</h3>
    </div>
    <div class="following-box-content">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in Model)
            {
                <li>
                    <a href="@item.Link" target="_blank">@item.Name</a>
                </li>
            }
        </ul>
    </div>
</div>


@*<div class="following-box panel panel-primary ">
    <div class="panel-heading">
        <h3 class="panel-title">Please check the text</h3>
    </div>
    <div class="following-box-content">
        @using (Html.BeginForm("AnalizeText", "GomelSatNews", new { }, FormMethod.Post, new { }))
        {
            <p> Please, write the headline here: </p>

            <input type="text" id="newsHeader" name="newsHeader" class="following-box-header" onpaste="RemoveAnnoyingWords('newsHeader')" />

            <p> Please, write the text here: </p>

            <textarea id="newsText" name="newsText" class="following-box-text" onpaste="RemoveAnnoyingWords('newsText')"></textarea>

            <input type="submit" class="btn btn-primary pull-right" value="Search">
        }
    </div>
</div>*@