
@{
    ViewBag.Title = "Links";
}

@model IEnumerable<Services.GomelSat.Models.SiteLinkViewModel>

<div class="gomel-sat-list-links">

    <h3 class="text text-white text-center">Links</h3>

    <ul class="nav nav-pills nav-stacked">
        @foreach (var item in Model)
        {
            <li>
                <a href="@item.Link" target="_blank">@item.Name</a>
            </li>
        }
    </ul>
</div>
