GomelSat/TextAnalizators/obj/
GomelSat/Services/bin/
GomelSat/Services/obj/
GomelSat/packages/
GomelSat/DataProviders/obj/
GomelSat/NinjectModules/obj/
GomelSat/NinjectModules/bin/
GomelSat/Common/obj/
GomelSat/DataBase/obj/
GomelSat/CommandsAndQueries/obj/
GomelSat/GomelSat/obj/
GomelSat/CommandsAndQueries/bin/
GomelSat/GomelSat/bin/
GomelSat/DataBase/bin/
GomelSat/Laboratory/bin/
GomelSat/DataParsers/bin/
GomelSat/DataParsers/obj/
GomelSat/Laboratory/obj/
GomelSat/FilesManagers/obj/
