@{
    ViewBag.Title = "Index";
}

@model Services.Words.Models.WordListToDeleteViewModel

<div class="panel panel-primary settings-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Data settings</h3>
    </div>
    <div class="settings-content">
        <div class="text-center">
            <h4 class="alert-info alert">
                Please, if you need to refresh some news, click this button <br />
                (<b>Warning!</b> Please, don't use this functionality more than once in 10 minutes)
            </h4>
        </div>
        @using (Html.BeginForm("RefreshNews", "GomelSatSettings", new { }, FormMethod.Post, new { }))
        {
            <div>
                <input type="submit" class="btn btn-primary pull-left settings-action-button" value="Refresh news">
            </div>
        }

        <div class="modal-end-line">
            Text
        </div>

    </div>
</div>




